/* pondremos las variables como colores y demas*/

:root {
    --color-nav: #6499E9;
    --color-section: #A6F6FF;
    --letra-nav: Georgia, serif;
    --color-main: #A6F6FF;
    --color-aside: #9EDDFF;
  }
 